APP_NAME="Medloo"
APP_ENV=local
APP_KEY=base64:WrvqXJ+ilWOLItqI7C2N2R2dQkqFAHFYzTrQBBJqtso=
APP_DEBUG=true
APP_URL="http://medloo.in/medloo"

DEMO_MODE="Off"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="medlooin_ecommerce"
DB_USERNAME="medlooin_ecommerce"
DB_PASSWORD="zfn{k^nDukYA"


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER="smtp"
MAIL_HOST="mail.medloo.in"
MAIL_PORT="587"
MAIL_USERNAME="test@medloo.in"
MAIL_PASSWORD="Indian!23"
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS="test@medloo.in"
MAIL_FROM_NAME="Medloo"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

STRIPE_KEY="pk_test_c6VvBEbwHFdulFZ62q1IQrar"
STRIPE_SECRET="sk_test_9IMkiM6Ykxr1LCe2dJ3PgaxS"

SSLCZ_STORE_ID=""
SSLCZ_STORE_PASSWD=""

IM_API_KEY=""
IM_AUTH_TOKEN=""

RAZOR_KEY="rzp_test_bzwHrmvv18sLt8"
RAZOR_SECRET="yNsGeDSoou21LBPK200dWOjp"

PAYSTACK_PUBLIC_KEY=""
PAYSTACK_SECRET_KEY=""

VOGUE_MERCHANT_ID="DEMO"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

TRACKING_ID=""

FACEBOOK_PAGE_ID=""
FACEBOOK_PIXEL_ID=""

DEFAULT_LANGUAGE="en"

TWILIO_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SID=""
VALID_TWILLO_NUMBER=""

NEXMO_KEY=""
NEXMO_SECRET=""

SSL_SMS_USER="Adyan"
SSL_SMS_SID=""
SSL_SMS_PASSWORD=""
SSL_SMS_URL="http://sms.sslwireless.com/pushapi/dynamic/server.php"

PAYTM_ENVIRONMENT="production"
PAYTM_MERCHANT_ID="FqblpC39797140432729"
PAYTM_MERCHANT_KEY="Q!SiUtxI#NHgyu!e"
PAYTM_MERCHANT_WEBSITE="WEBSTAGING"
PAYTM_CHANNEL="WEB"
PAYTM_INDUSTRY_TYPE="Retail"

SENDER_ID="FSTSMS"
LANGUAGE="english"
ROUTE="p"
AUTH_KEY=""

MAILGUN_DOMAIN=""
MAILGUN_SECRET=""